<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark " arial-label="Misarh navigation bar">
    <div class="container">
        <a class="navbar-brand" href="home">M<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsMisarh"
            aria-controls="navbarsMisarh" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsMisarh">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item ">
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li><a class="nav-link" href="product-details">Shop</a></li>
                <li><a class="nav-link" href="about">About us</a></li>
                <li><a class="nav-link" href="services.html">Services</a></li>
                <li><a class="nav-link" href="blog.html">Blog</a></li>
                <li><a class="nav-link" (click)='route("checkout")'>Contact us</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li  (click)="toggleDropdown()"><a class="nav-link" href="javascript:void(0)"><img src="../../../assets/images/user.svg" alt="User"></a></li>

                <!-- Dropdown Menu -->
                <div class="menu-dropdown absolute right-0 z-5 mt-3 shadow-lg bg-white p-4 rounded-lg w-60"
                [ngClass]="{ 'show': isDropdownVisible, 'hidden': !isDropdownVisible }">
                    <!-- Membership Section -->
                    <div class="menu-section mb-4">
                        <h4 class="mb-2 text-sm font-semibold">YOUR MEMBERSHIP</h4>
                        <a (click)='route("manage-fragrance")' class="text-700 block mb-2 hover:text-primary">
                            Manage your fragrances
                        </a>
                        <a (click)='route("order-history")' class="text-700 block mb-2 hover:text-primary">
                            Order tracking & history
                        </a>
                        <a routerLink="/subscribe" class="text-700 block hover:text-primary">
                            Subscribe to Misarh
                        </a>
                    </div>

                    <!-- Account Section -->
                    <div class="menu-section">
                        <h4 class=" mb-2 text-sm font-semibold">YOUR ACCOUNT</h4>
                        <a (click)='route("shipping-form")' class="text-700 block mb-2 hover:text-primary">
                            Shipping information
                        </a>
                        <a (click)='route("personal-details")' class="text-700 block mb-2 hover:text-primary">
                            Personal details
                        </a>
                        <a routerLink="/support" class="text-700 block mb-2 hover:text-primary">
                            Help & Support
                        </a>
                        <a routerLink="/logout" class="text-700 block hover:text-primary">
                            Log out
                        </a>
                    </div>
                </div>
                <!-- End of Dropdown Menu -->

                <li><a class="nav-link" href="cart.html" (click)="toggleCartSidebar()"><img src="../../../assets/images/cart.svg"></a></li>
            </ul>
        </div>
    </div>

</nav>