.testimonial-slider-wrap {
    position: relative;
  }
  
  #testimonial-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  
    .prev,
    .next {
      cursor: pointer;
      font-size: 1.5rem;
    }
  }
  
  .testimonial-slider .item {
    text-align: center;
    padding: 20px;
  }
  