<!-- <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 gap-md-5 mt-3 mb-5">

  <a [routerLink]="['home']" class="text-decoration-none text-black text-size-20px">
      Home
  </a>
  <a [routerLink]="['auth']" class="text-decoration-none text-black text-size-20px">
      Auth
  </a>
  <a [routerLink]="['about']" class="text-decoration-none text-black text-size-20px">
      About Misarh
  </a>
  <a [routerLink]="['product-details']" class="text-decoration-none text-black text-size-20px">
      Product
  </a> 
  <a [routerLink]="['cart']" class="text-decoration-none text-black text-size-20px">
     Cart
  </a>
  <a [routerLink]="['shipping-form']" class="text-decoration-none text-black text-size-20px">
     Shipping Form
  </a>
  <a [routerLink]="['order-history']" class="text-decoration-none text-black text-size-20px">
     Order History
  </a>
  <a [routerLink]="['manage-fragrance']" class="text-decoration-none text-black text-size-20px">
    Manage Fragrance
  </a>
  <a [routerLink]="['personal-details']" class="text-decoration-none text-black text-size-20px">
   Personal Details
  </a>
</div> -->
<app-cart></app-cart>
<app-page-loader></app-page-loader>
<router-outlet></router-outlet>