<button (click)="isFrontView = !isFrontView" class="btn btn-secondary">
  {{ isFrontView ? 'Show Back View' : 'Show Front View' }}
</button>

<div class="row" *ngIf="selectedTemplate">
  <div class="col-md-6 editor-container text-center">
    <h3>Edit Template</h3>

    <!-- ID Card Preview -->
    <div *ngIf="isFrontView" class="id-card-container">
      <div class="id-card d-flex justify-content-between align-items-center"
        [ngClass]="[selectedOrientation, selectedTemplate.templateType]">

        <!-- ID Card Background -->
        <div class="id-card-left-column" [ngStyle]="{'background-color': leftBgColor, 'cursor': 'pointer'}"
          (click)="selectBackground('left')">
        </div>

        <div class="id-card-right-column" [ngStyle]="{'background-color': rightBgColor, 'cursor': 'pointer'}"
          (click)="selectBackground('right')">
        </div>

        <!-- ID Card Information -->
        <div class="id-card-canvas">
          <div class="id-card-photo rounded-circle" [ngClass]="[selectedOrientation, selectedTemplate.templateType]">
          </div>
          <div class="details" [ngClass]="[selectedOrientation, selectedTemplate.templateType]">
            <div class="id-card-name" (click)="selectTextField('name')">
              <h2 [ngStyle]="selectedTemplate.textStyles['name']">{{ selectedTemplate.name }}</h2>
            </div>
            <div class="id-card-title" (click)="selectTextField('title')">
              <h3 [ngStyle]="selectedTemplate.textStyles['title']"> {{ selectedTemplate.title }}</h3>
            </div>
            <div class="id-card-email" (click)="selectTextField('email')">
              <p [ngStyle]="selectedTemplate.textStyles['email']">Email: {{ selectedTemplate.email }}</p>
            </div>
            <div class="id-card-address" (click)="selectTextField('address')">
              <p [ngStyle]="selectedTemplate.textStyles['address']">Address: {{ selectedTemplate.address }}</p>
            </div>
            <div class="id-card-phone" (click)="selectTextField('phone')">
              <p [ngStyle]="selectedTemplate.textStyles['phone']">Phone: {{ selectedTemplate.phone }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- BACK VIEW -->
  <div *ngIf="!isFrontView" class="id-card back-view" [ngClass]="[selectedOrientation, selectedTemplate.templateType]">
    <div class="info-section" [ngClass]="[selectedOrientation, selectedTemplate.templateType]">
      <div>
        <h3>Emergency Contact</h3>
      </div>
      <div (click)="selectTextField('emergencyContact.name')">
        <p [ngStyle]="selectedTemplate.textStyles['emergencyContact.name']">Name: {{ selectedTemplate.emergencyContact.name }}</p>
      </div>
      <div>
        <p>Phone: {{ selectedTemplate.emergencyContact.phone }}</p>
      </div>
      <div>
        <p>Email: {{ selectedTemplate.emergencyContact.email }}</p>
      </div>
    </div>
    <div class="barcode-section" [ngClass]="[selectedOrientation, selectedTemplate.templateType]">
      <!-- Placeholder for barcode or QR code -->
      <img [src]="selectedTemplate.barcode" alt="Barcode" />
    </div>
    <div class="signature-section" [ngClass]="[selectedOrientation, selectedTemplate.templateType]">
      <p>Authorized Signature</p>
      <img [src]="selectedTemplate.signature" alt="Signature" />
    </div>
    <div class="disclaimer" [ngClass]="[selectedOrientation, selectedTemplate.templateType]">
      <p>This card is the property of Musty LLC. If found, please return to the address on the front.</p>
    </div>
  </div>

  <div class="form-container">
    <form>
      <h3 *ngIf="editMode === 'text'">Edit {{selectedField}}</h3>
      <h3 *ngIf="editMode === 'background'">Edit Background</h3>

      <!-- Text Editing Form -->
      <div *ngIf="editMode === 'text'">
        <label class="form-label">{{selectedField}}</label>
        <input type="text" class="form-control" name="selectedField" [(ngModel)]="selectedTemplate[selectedField]">

        <label>Font Size:</label>
        <input type="range" class="form-range" min="0" max="100" (input)="updateFontSize($event)"
          [value]="selectedTemplate.textStyles[selectedField]?.fontSize">

        <label>Font Color:</label>
        <input type="color" class="form-control" (input)="updateFontColor($event)"
          [value]="selectedTemplate.textStyles[selectedField]?.color">
      </div>

      <!-- Background Editing Form -->
      <div *ngIf="editMode === 'background'">
        <label class="form-label">Background Color:</label>
        <input type="color" class="form-control" (input)="updateBackgroundColor($event)"
          [value]="selectedField === 'left' ? leftBgColor : rightBgColor">
      </div>


      <button type="button" class="btn btn-success" (click)="saveTemplate()">Save</button>
    </form>
  </div>

</div>