<app-navbar></app-navbar>
<div class="shipping-details mt-5 p-4 rounded shadow-lg">
  <h4 class="fw-bold text-primary mb-4">Shipping Details</h4>
  <form [formGroup]="shippingForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label for="address" class="form-label">Address</label>
      <input type="text" class="form-control" id="address" placeholder="Enter your address" formControlName="address" required />
    </div>
    <div class="mb-4">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" id="city" placeholder="Enter your city" formControlName="city" required />
    </div>
    <div class="mb-4">
      <label for="country" class="form-label">Country</label>
      <select class="form-select" id="country" formControlName="country" required>
        <option value="" disabled selected>Select your country</option>
        <option value="NG">Nigeria</option>
        <!-- Add other countries here -->
      </select>
    </div>

    <button type="submit" class="btn btn-success btn-lg w-100 mt-3" [disabled]="!shippingForm.valid">
      Save Shipping Info
    </button>
  </form>

  <!-- Order Confirmation Modal -->
  <div *ngIf="showModal" class="confirmation-modal">
    <app-order-confirmation-modal [orderId]="orderId!" (closeModal)="closeModal()"></app-order-confirmation-modal>
  </div>
</div>

<app-footer></app-footer>